.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
  }
.foter_link{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 57px;
    flex-wrap: wrap;
    p{
        font-family: Lexend;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
    }
}
.line {
    max-width: 1107px;
    width: 100%;
    margin-top: 40px;
    border: 1px;
    opacity: 0.3px;
    border: 1px solid #359740;
    color: #359740;
}
.foter_bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    flex-wrap: wrap;

    p{
        display: flex;
        gap: 10px;
        font-family: Lexend;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
    }
}